{% extends '../base.html' %}


{% block body %}

<title>My Account - {{ request.user|title }} - Bukinow </title>
<!-- http://127.0.0.1:8000/media_files/account/media_files/corolla.png -->
{% include 'include/_navbar.html' %}

{% include 'include/_sidebar.html' %}

<div class="account-contianet">
		<div class="add-contact">
		<form action="" method="POST">
			{% csrf_token %}
				<div class="showImage"></div>
			<div>
				<label for="Title">Title</label>
				<input type="text" name="c-title" placeholder="Title"><br>
			</div>

			<div>
				<label for="c-car-name">Cars</label>
				<select id="showimage" onchange="showImg(this.value);" name="c-car-name">
					<option value="">Select Car</option>
					{% for car in get_imgs %}
					<option value="{{ car.name_img }}">{{ car.name_img | title}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<input type="hidden" id="select-image" name="c-select-image">
				<input type="hidden" id="c-let" name="c-let-1">
				<input type="hidden" id="c-log" name="c-log-2">
			</div>	

			<div>
				<label for="c-color">Colour</label>
				<select name="c-color">
					<option>Car Colour</option>
					<option value="red">Red</option>
					<option value="blue">Blue</option>
					<option value="black">Black</option>
					<option value="gray">Gray</option>
					<option value="white">White</option>
				</select>
			</div>

			<div>
				<label for="c-par-day-price">Price par day</label>
				<input type="text" name="c-par-day-price" placeholder="Price">
			</div>	

			<div>
				<label for="c-model">Model car</label>
				<select name="c-model">
					{% for year in years %}
					<option value="{{ year }}">{{ year }}</option>
					{% endfor %}
				</select>
			</div>	

			<div>	
				<label for="c-address">Location</label>
				<input type="text" name="c-address" placeholder="Address">
			</div>

			<div>
				<label for="c-number-plate">License plate</label>
				<input type="text" name="c-number-plate" placeholder="Lincnce Plate">
			</div>	

			<div>
				<label for="c-self-driver">Self-driver</label>
				<select name="c-self-driver">
					<option value="yes">Yes</option>
					<option value="no">No</option>
				</select>
			</div>	

			<div>
				<label for="c-dec">Write some about</label>
				<textarea name="c-dec"></textarea>
			</div>	

			<button type="submit" name="add-post">Submit</button>
		</form>

	</div>
</div>

{% endblock %}
