{% extends '../base.html' %}


{% block body %}

<title>My Account - {{ request.user|title }} - Bukinow </title>

{% include 'include/_navbar.html' %}

{% include 'include/_sidebar.html' %}		

<div class="account-contianet">
	{% for car_post in Car_post %}
	<div class="account_post">
		<div class="account_post_image">
			<a href="view-post/{{ car_post.id }}"><img src="{{ car_post.c_select_image }}" height="150" width="150" ></a>
		</div>
		<div class="post_detail">
			<h3>Rent Par Day {{ car_post.c_par_day_price }}</h3>
			<a href="view-post/{{ car_post.id }}"><p>{{ car_post.c_title | title }}</p></a>
			<span>{{ car_post.c_date_time }}</span> <span>{{ request.user | title }}</span>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
