{% extends '../base.html' %}
{% block body %}
{% load static %}
	<title>Password Reset - Bukinow</title>
	
	<div class="buki-all-form">
		<form action="" method="POST">
			{% csrf_token %}
			<div class="log-head">
				<img src="{% static 'img/logo-bukinow.png' %}" height="40" width="170">
				<h3>Rest Your Password</h3>
			</div>
			{% for field in form %}
				{% for error in field.errors %}
					<div class="error-alert">{{ error }}</div>
				{% endfor%}
			{% endfor%}
            <input type="email" name="email" placeholder="Enter Your Email">
			<button id="buki-on-btn" type="submit">Reset Password</button>
		</form>
	</div>

{% endblock %}

