{% extends '../base.html' %}
{% block title %}Booking Request{% endblock %}
{% block body %}
<div class="account-body">
	<div class="account-card-body">
	{% if bookings|length < 1 %}
	<div class="head-bar">
		<p>No Booking Available!</p>
	</div>
	{% else %}
	  {% for post in bookings %}
	    <div class="account-post-card">
	    	<div class="card-edit-delet">
	    		<p><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.date_time.date}}</p>
	    		<p><i class="fa fa-map-marker" aria-hidden="true"></i> {{post.city}}</p>
	    	</div>
	      <a href="{{post.post_path}}"><h2><i class="fa fa-link" aria-hidden="true"></i> {{post.post_title}}</h2></a>
	      <hr>
	    	<div class="card-edit-delet">
		        <h3><i class="fa fa-user" aria-hidden="true"></i> {{post.full_name | title}}</h3>
	      </div>      
	    <div class="card-edit-delet">
	    	<p><i class="fa fa-car i-blue" aria-hidden="true"></i> Star Booking</p>
	        <p><i class="fa fa-calendar i-blue" aria-hidden="true"></i> {{post.start_date}}</p>
	    </div>

	    <div class="card-edit-delet">
	    	<p><i class="fa fa-car i-blue" aria-hidden="true"></i> End Booking</p>
	        <p><i class="fa fa-calendar i-blue" aria-hidden="true"></i> {{post.end_date}}</p>
	    </div>
	    <hr>
	    <div class="card-edit-delet">
		    <h4><i class="fa fa-envelope i-blue" aria-hidden="true"></i> Message</h4>
		</div>    
			<p id="bk-card-msg">{{post.message}}</p>
		    <p id="cell-no">{{post.phone_no}}<a href="tel:{{post.phone_no}}"></a></p>
	    </div>
	  {% endfor %}
	  {% endif %}

	  </div>
	</div>
{% endblock %}
