{% extends '../base.html' %}
{% block title %}Password Reset{% endblock %}
{% block body %}
<div class="buki-all-form">
	<div class="login-logo"></div>
	<form action="" method="POST">
		{% csrf_token %}
		<div class="log-head">
			<h3>Rest Your Password</h3>
		</div>
		{% for field in form %}
			{% for error in field.errors %}
				<div class="error-alert">{{ error }}</div>
			{% endfor%}
		{% endfor%}
        <input type="email" name="email" placeholder="Enter Your Email">
		<button id="buki-on-btn" type="submit">Reset Password</button>
	</form>
	<span class="forget-pass"><a href="{% url 'home' %}">Home</a></span>
</div>
{% endblock %}

