{% extends '../base.html' %}
{% block title %}Change Password{% endblock %}
{% block body %}	
<div class="add-car-main-body">
<div class="res-form-card">
	<h2>Change Your Password</h2>
	<form action="" method="POST">
		{% for field in form %}
			{% for error in field.errors %}
				<div class="error-alert">{{ error }}</div>
			{% endfor%}
		{% endfor%}
	{% csrf_token %}
	<div class="rps-label-div">
		<label class="rps-label" for="old_password">Old Password</label>
		<input class="responsiv-input" type="password" name="old_password" required placeholder="Old Password">
	</div>
	<div class="rps-label-div">
		<label class="rps-label" for="new_password1">New Password</label>
		<input class="responsiv-input" type="password" name="new_password1" required placeholder="New Password">
	</div>
	<div class="rps-label-div">
		<label class="rps-label" for="new_password2">Conform Password</label>
		<input class="responsiv-input" type="password" name="new_password2" placeholder="Conform Password">
	</div>
		<div class="rps-label-div">
		<input class="submit-btn" type="submit" value="Update">
	</div>
	</form>
</div>
{% endblock %}

