{% extends '../base.html' %}
{% block body %}
	<title>Chose Your New Password - Bukinow</title>
	
	<div class="buki-all-form">
		<form action="" method="post">
			{% csrf_token %}
			<div class="log-head">
				<h3>Enter Your New Password</h3>
			</div>
			{% for field in form %}
				{% for error in field.errors %}
					<div class="error-alert">{{ error }}</div>
				{% endfor%}
			{% endfor%}
			<input type="password" name="new_password1" placeholder="New Password">
			<input type="password" name="new_password2" placeholder="Confirm Password">
			<button id="buki-on-btn" type="submit">Save Password</button>
		</form>
	</div>	
{% endblock %}

