{% extends '../base.html' %}
{% block title %}{{edit_post.c_title | title }}{% endblock %}
{% block body %}
{% load static %}
<div class="add-car-main-body">
	<div class="rps-img-div">
	</div>
	<div class="res-form-card">
		<a href="{% url 'my_account' %}" style="flex: left;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
			<h1 style="padding: 20px;">Edit Post</h1>
			{% if messages %}
				{% for message in messages %}
					{{message}}
				{% endfor %}
			{% endif %}
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="rps-label-div">
				<label class="rps-label" for="c-title">Post Title</label>
				<input value="{{edit_post.c_title}}" class="responsiv-input" type="text" name="c-title" placeholder="Title" required>
			</div>
			<div class="rps-label-div">
				<label class="rps-label" for="c-car-name">Chose A Car</label>
				<select class="responsiv-input" id="showimage" name="c-car-name" required>
					<option value="{{edit_post.c_car_name}}">{{edit_post.c_car_name|title}}</option>
					{% for car in edit_img %}
					<option value="{{ car.name_img }}">{{ car.name_img | title}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="rps-label-div upload-cars-imgs"> 
				<label class="rps-label" for="c-select-image">Upload Cars Images</label><br>
			    <input name="c-select-image" id="file-input" type="file">
			</div>
			<div class="preview-car-img" id="preview"></div>
			<div class="rps-label-div">
				<input type="hidden" id="c-let" name="c-let-1">
				<input type="hidden" id="c-log" name="c-log-2">
			</div>	
			<div class="rps-label-div">
				<label class="rps-label" for="c-color">Car Color</label>
				<select class="responsiv-input" name="c-color" required>
					<option value="{{edit_post.c_car_color}}">{{edit_post.c_car_color}}</option>
					<option value="red">Red</option>
					<option value="blue">Blue</option>
					<option value="black">Black</option>
					<option value="gray">Gray</option>
					<option value="white">White</option>
				</select>
			</div>
			<div class="rps-label-div">
				<label class="rps-label" for="c-par-day-price">Per Day Rent</label>
				<input value="{{edit_post.c_par_day_price}}" class="responsiv-input" type="text" name="c-par-day-price" placeholder="Price" required>
			</div>	
			<div class="rps-label-div">
				<label class="rps-label" for="c-model">Car Model Year</label>
				<select class="responsiv-input" name="c-model" required>
					<option value="{{edit_post.c_car_model}}">{{edit_post.c_car_model}}</option>
					{% for year in edit_year %}
					<option value="{{ year }}">{{ year }}</option>
					{% endfor %}
				</select>
			</div>	
			<div class="rps-label-div">	
				<label class="rps-label" for="c-model">Address</label>
				<input value="{{edit_post.c_address}}" class="responsiv-input" type="text" name="c-address" placeholder="Address" required>
			</div>
			<div class="rps-label-div">
				<label class="rps-label" for="c-number-plate">License No Plate</label>
				<input value="{{edit_post.c_car_plate}}" class="responsiv-input" type="text" name="c-number-plate" placeholder="License Plate" required>
			</div>	
			<div class="rps-label-div">
				<label class="rps-label" for="c-self-driver">You Giving Driver</label>
				<select class="responsiv-input" name="c-self-driver" required>
					<option value="{{edit_post.c_self_driver}}">{{edit_post.c_self_driver}}</option>
					<option value="yes">Yes</option>
					<option value="no">No</option>
				</select>
			</div>	
			<div class="rps-label-div textarea-inp">
				<label class="rps-label" for="c-dec">Type Some Details </label>
				<textarea class="responsiv-input" name="c-dec" placeholder="Write Some About" required="Fill this fild">{{edit_post.c_car_about}}</textarea>
			</div>
			<div class="rps-label-div">
				<button class="submit-btn" id="add-car-submit" type="submit" name="add-post">Submit</button>
			</div>	
		</form>
	</div>
</div>
{% endblock %}
