<div class="container">
	<div class="ftr">
		<h1>Cars</h1>
		<ul class="ftr-links">
			<li><a href="#">Toyota Car</a></li>
			<li><a href="#">Honda Cars</a></li>
			<li><a href="#">Suzuki Cars</a></li>
			<li><a href="#">Luxury Cars</a></li>
		</ul>
	</div>
	<div class="ftr">
		<h1>Rent A Cars By City</h1>
		<ul class="ftr-links">
			<li><a href="{% url 'home' %}">home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">How it Work</a></li>
			<li><a href="{% url 'contact_us' %}">Contact US</a></li>
		</ul>
	</div>
	<div class="ftr">
		<h1>Link 1</h1>
		<ul class="ftr-links">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">How it Work</a></li>
			<li><a href="{% url 'contact_us' %}">Contact US</a></li>
		</ul>
	</div>
	<div class="ftr">
		<h1>BukiNow.com</h1>
		<ul class="ftr-links">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">How it Work</a></li>
			<li><a href="{% url 'contact_us' %}">Contact US</a></li>
			<li><a href="{% url 'login' %}">Login</a></li>
			<li><a href="{% url 'register' %}">Register</a></li>
		</ul>
	</div>
	<div class="ftr">
		<h1>Subscribe to our Newsletter</h1>
		<p style="display: none; color: #fff;" id="subsMsg">Please Check Your Email</p>
		<div class="newslatter">
			{% csrf_token %}
			<input type="email" id="newsletter" placeholder="name@email.com" required="Enter Email">
			<button title="Enter Email" type="submit" id="newsletter-btn" disabled>Subscribe</button>
		</div>
	</div>
</div>
<hr>
<div class="ftr-bootom">
	<p>Copyright © 2020 - 2021 BukiNow.com - All Rights Reserved.</p>
	<p><a href="#">Terms of Service</a> |  <a href="#">Privacy Policy</a></p>
</div>

