{% include 'include/_sidebar.html' %} 
{% load static %} 
<nav class="navbar">
	<div  class="brandname">
		<a href="#" onclick="OpenNav()"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
		<a href="{% url 'home' %}"><span class="logo"></span></a>
	</div>
	{% include 'include/header-search.html' %}
	{% include 'include/popup_search.html' %}
	<div class="navebar-link">
		<ul>
			<li id="search-click"><a href="javascript:void(0);" onclick="searchBar();"><i class="fa fa-search" aria-hidden="true"></i></a>
			</li>
				{% if request.user.is_authenticated %}
				<li>
					<a href="{% url 'booking' %}" class="notification_home">
	  					<i class="fa fa-bell-o" aria-hidden="true"></i>
	  					{% if notification_count >= 1 %}
	  						<span class="badge-box">{{notification_count}}</span>
	  					{% elif notification_count >= 9 %}
	  						<span class="home_badge">9+</span>
	  					{% endif %}
	  				</a>
	 	 		</li>
	 	 		{% endif %}
			{% if not request.user.is_authenticated %}
				<li><a id="btn-nav" href="{% url 'login' %}?return_url{{ request.get_full_path }}">Login</a></li>
			{% else %}
				{% if request.user.is_authenticated %}
				<li><a href="javascript:void(0);"><img id="myFunction" src="{% if request.user.userinformationext.user_profile_image %}{{request.user.userinformationext.user_profile_image.url}}{% else %}{% static 'img/profile-img.png' %}{% endif %}"></a>
			{% endif %}
			    <div class="profile-links" id="profile-links">
					<a href="{% url 'my_account' %}">{{request.user.userinformationext.full_name|title}}</a>
					<a href="{% url 'profile_settings' %}">Profile Setting</a>
					<a href="{% url 'logout' %}">Logout</a>
			    </div>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>
<script>
$("#myFunction").click(function(){
	$("#profile-links").toggle()
});
function searchBar(){
	document.getElementById('search-ox').style.width = "100%";
}

$("#closeNavSearch").click(function(){
	document.getElementById('search-ox').style.width = "0";
});

</script>