
{% extends '../base.html' %}

{% block body %}

  <div class="sidenavbar" id="sidenavbarid"> <a href="javascritp:void(0)"
  class="closebtn" onclick="closeNave()"> &#9776;  BUKINOW</a>
    <hr> 
    <a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a>   
    <a href="{% url 'my_account' %}"><i class="fa fa-user" aria-hidden="true"></i></i> My Account</a>   
    <a href="{% url 'password_change' %}"><i class="fa fa-unlock-alt" aria-hidden="true"></i></i>Password Change</a>  
    <a href="{% url 'profile_settings' %}"><i class="fa fa-cogs" aria-hidden="true"></i></i>Setting</a>
    <a href="{% url 'booking' %}"><i class="fa fa-money" aria-hidden="true"></i>Booking</a>    
    <a href="{% url 'logout' %}"><i class="fa fa-power-off" aria-hidden="true"></i></i>Logout</a>     
</div>
{% endblock %}
