<div id="search-myModal" class="search-modal">
  <div class="search-modal-content">
	<span onclick="closeBtn();" class="search-close">&times;</span>
		<h3>Search</h3>
		<div class="pop-up-search">
			<form action="/search" method="GET">
				<input class="responsiv-input" type="text" name="search-location" placeholder="Location">
				<input class="responsiv-input" type="text" name="search-car-name" placeholder="Toyota">
				<button class="submit-btn" type="submit">Find</button>
			</form>
		</div>
	</div>	    
</div>

<script>
function SearchOpen(){
  search_modal.style.display = "block";
}
var search_modal = document.getElementById("search-myModal");
function closeBtn(){
  search_modal.style.display = "none";
}
</script>	    