@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');

*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Muli', sans-serif; text-decoration: none;}

/* main page navebar  */

body{
	background-color: #ededed;
}


.main-nave-con{
	position: fixed;
	width: 100%;
	background-color: #fff;
	height: 70px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	top: 0;
}
.logo-main{
	color: #fff;
	font-size: 18px;
	padding-left: 30px;
}
.logo-main a{
	text-decoration: none;
	color: #28a745;
}
/* ------------------------------------------------------------------------ */
.nav-right-side-1{
	margin-right: 20px;
	font-size: 18px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.add-car-btn-2 a{
	color: #fff;
	text-decoration: none;
	padding: 18px;
	background-color: #28a745;
	transition: 0.3s;
}
.add-car-btn-2 a:hover{
	background-color: #00891d;
}
.nav-side-bar-login{
	margin-right: 12px;
	margin-top: 5px;
}
.nav-side-bar-login img{
	border-radius: 50%;
	margin-top: 7px;
}

.nav-side-bar-login a{
	text-decoration: none;
	color: #28a745;
	transition: 0.3s;
}
.nav-side-bar-login a:hover{
	color: #00891d;
	text-decoration: underline;
}

/* main page navebar  end-----------------------------------------------------------*/

/* Home page start ----------------------------------------------------------------------*/

.home-container{
	width: 100%;
	display: flex;
}
/* -------------------------------------------------------------------------------------------- */
.slide-area{
	width: 100%;
	height: 400px;
	background-color: #00891d;
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slide-area-img img{
	height: 400px;
	width: 500px;
}
.text-slide-main{
	color: #fff;
	margin-left: 20px;
	text-align: center;
}
.text-slide-main h1{
	font-size: 50px;
	font-family: 'Comic Neue', cursive;
}
.text-slide-main #slide-how-it-work-btn{
	width: 200px;
	border: none;
	background: none;
	border: 2px solid #fff;
	color: #fff;
	margin: 10px;
	font-size: 20px;
	transition: 0.3s;
}
.text-slide-main #slide-how-it-work-btn:hover{
	background-color: #004f11;
}
.text-slide-main #slide-singup-btn{
	border: none;
	width: 200px;
	background: #fff;
	border: 2px solid #fff;
	color:#00891d;
	margin: 10px;
	font-size: 20px;
	transition: 0.3s;
}
.text-slide-main #slide-singup-btn:hover{
	background-color: #e2e2e2;
}

.add-car-home-page{ 
	display: flex; 
	justify-content: space-around; 
	align-items:center; 
	height: 150px; 
	width: 100%; 
	background-color: #184153;
} 

.add-car-text{ 
	text-align: center; 
	font-size:30px; 
	color: #e2e2e2; 
} 
.add-car-text button{ 
	background-color: #00891D;
	color: #fff; 
	width: 150px; 
	height: 50px; 
	border: none; 
	margin: 8px; 
	font-size:18px; 
	border-radius: 5px;
} 

.add-car-text button:hover{ 
	background-color: #28a745; 
}

.add-car-image{
	
}


@media only screen and (max-width: 600px) {
	.slide-area{
		justify-content: center;
		height: 300px;
	}
	.slide-area-img img{
		height: 250px;
		width: 350px;
	}
	.text-slide-main{
		text-align: center;
		position: absolute;
		background: rgba(0, 0, 0, 0.6);
		padding: 20px;
		margin: 0;
	}
	.add-car-image{
		display: none;
	}
	.add-car-text{
		font-size: 18px;
	}
	.text-slide-main h1{
		font-size: 27px;
	}
}
/* Home Page end -----------------------------------------------------------------------*/



/* main page search box  ----------------------------------------------------------------*/

.search-box-main-page{
	height: 250px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e2e2e2;

}

.search-box-main-page form{
	width: 800px;
	text-align: center;
	padding: 20px;
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
	background-color: #fff;
}
.search-box-main-page h2{
	color: #696969;
}
.search-box-main-page input{
	width: 350px;
	height: 40px;
	padding: 8px;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid #00891d;	
}
.search-box-main-page input[type = "submit"]{
	background: none;
	background-color: #28a745;
	width: 350px;
	color: #fff;
	font-size: 18px;
	transition: 0.3s;
}
.search-box-main-page input[type = "submit"]:hover{
	background-color: #00891d;
}

/* main page search box end ----------------------------------------------------------------*/




/* search page body start -----------------------------------------------------------------*/

.search-page-body{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 80px;
	background-color: #e2e2e2;
	align-items: center;
}
.post-search-body{
	width: 100%;
	display: flex;
	justify-content: center;
}
.post-center-1{
	width: 70%;
}
.search-post-card{
	border-bottom: 4px solid #00891D;
	margin: 10px;

}
.search-post-date {
	display: inline-block;
	font-size: 10px;
	margin-left: 20px;
}
.post-content{
	display: inline-block;
	width: 75%;
	padding: 8px;
}
.post-content a{
	text-decoration: none;
	color: #000;
}

@media only screen and (max-width: 600px) {
	.post-center-1{
		width: 100%;
		text-align: center;
	}
}
/* search page end ----------------------------------------------------------------------*/




/* home page post view ---------------------------------------------------------------------*/

.main-body{
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #e2e2e2;
}
.home-page-post-view{
	height: 330px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.home-post-card{
	margin: 5px;
	height: 260px;
	width: 200px;
	text-align: center;
	padding: 20px;
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
	background-color: #fff;
	border-bottom: 4px solid #00891d;
}
.home-post-card a{
	text-decoration: none;
	color: #000;
}

@media only screen and (max-width: 600px) {
	.home-page-post-view{
		width: 100%;
		flex-direction: column;
		height: auto;
	}
	.home-post-card{
		width: 90%;
	}
}

/* home page post views css end --------------------------------------------------------------*/




/* Login form start */

.buki-all-form{
	width: 500px;
	height: auto;
	margin: 20px auto;
	background-color: #fff;
	padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
}

.buki-all-form input[type = "email"], .buki-all-form input[type = "password"], .buki-all-form input[type = "text"] {
	margin: 20px auto;
	height: 50px;
	display: block;
	width: calc(100% - 40px);
	background: none;
	border-radius: 5px;
	border: none;
	outline: none;
	border: 1px solid #28a745;
	color: black;
	font-size: 18px;
	padding: 8px;
}

.buki-all-form input[type = "email"]:focus, .buki-all-form input[type = "password"]:focus, .buki-all-form input[type = "text"]:focus{
	border: 1px solid #28A745;
}


.log-head{
	color: #000;
	padding: 20px;
	width: 100%;
	/* background: linear-gradient(to right, #00cc66 -19%, #33cccc 100%); */
	position: relative;
	border-radius: 8px;
}
/* .login-logo{
	background-image: url("logo-bukinow.png");
	background-repeat: no-repeat;
	background-size: 300px 200px;
	width: 400px;
	height: 150px;
} */

#buki-on-btn{
	margin: 20px auto;
	height: 50px;
	display: block;
	width: calc(100% - 40px);
	background: #28a745;
	border-radius: 5px;
	border: none;
	outline: none;
	color: white;
	font-size: 18px;
	padding: 8px;
	transition: 0.3s;
	
}
#buki-on-btn:hover{
	background: #00891D;
}


#buki-off-btn{
	margin: 20px auto;
	height: 50px;
	display: block;
	width: calc(100% - 40px);
	background: none;
	border-radius: 5px;
	border: none;
	outline: none;
	border: 1px solid #28A745;
	color: white;
	font-size: 18px;
	padding: 8px;
	color: #28A745;
	transition: 0.3s;
}

.buki-all-form a{
	text-decoration: none;
}

.buki-all-form #buki-off-btn:hover{
	background-color: #ededed;
}


.forget-pass{
	padding: 10px;
	width: calc(100% - 40px);
	
}

.forget-pass a{
	color: #28A745;
	font-size: 13px;
}


.forget-pass a:hover{
	color: #006b17;
	text-decoration: underline;

}
.buki-all-form ::placeholder{
	color: #c6c6c6;
	font-size: 15px;
}

@media only screen and (max-width: 600px) {
	.buki-all-form{
		margin-top: 20px;
		height: auto;
		width: 100%;
		border-radius:0;
		border:0;
		box-shadow: none;
		background: none;
	}
}
/* Login form end */


/* Error Alert All */

.error-alert{
	color: #ad0000;
	text-transform: uppercase;
	display: flex;
  	justify-content: center;

}


/* done mag after password reset and change */

.done-msg{
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	background:#bfffc8;
	text-align: center;
	padding: 20px;
	border-radius:5px ;
	border: 1px solid #218838;
}

.done-msg a{
	text-decoration: none;
}
/* done end */



/* main nave bar start ---------------------------------------------------------------------*/


.nave-bar-main{
	overflow: hidden;
	height: 63px;
	background-color: #333333;
	top: 0;
	width: 100%;
	position: fixed;
	margin-bottom: 50px;
	box-shadow: 0 8px 15px 0 rgba(0,0,0,0.5);
	border-top: 1px solid white;
}

#bg-btn{
	font-size: 30px;
	padding: 10px;
}

.nave-bar-main a{
	display: block;
	color: white;
	float: left;
	padding: 20px;
	text-decoration: none;
}

.nave-bar-main a:hover{
	background-color: #2D2D2D;
}

/* main nave bar end */

/* --------------------------------------------------------------------------------- */

/* sidebar start */


.sidenavbar{
	height: 100%;
	position: fixed;
	width: 0;
	top: 0;background: #333333;
	overflow-x: hidden;
	left: 0;
	z-index: 1;
	
	padding-top: 60px;
	transition: all 0.5s;
	border-top: 1px solid white;
}

.sidenavbar a{
	text-decoration: none;
	font-size: 15px;
	display: block;
	padding: 20px;
	color: #ffff;
	margin-left: 30px;

}

.sidenavbar i{
	font-size: 25px;
	margin-right: 10px;
}

.sidenavbar a:hover{
	background-color: #2d2d2d;
}

.sidenavbar .badge{
	padding: 5px 10px;
	color: white;
	background-color: red;
	border-radius: 50%;

}


.closebtn{
	position: absolute;
	top: 0;
	word-spacing: 10px;
}
/* sidebar end */

/* ---------------------------------------------------------- */



/* post car add content area css  */
.add-car-main-body{
	margin-top: 70px;
	width: 100%;
	height: 100%;
	text-align: -webkit-center;
}

.head-text{
	width: 100%;
	text-align: center;
	padding: 30px;
	background-color: #28a745;
	color: #fff;
}

.upload-cars-imgs input::-webkit-file-upload-button{ 
	background: none;  
	border:none; 
	padding: 20px;
	border: 2px black dashed; 
	margin-bottom: 10px;
	cursor: pointer;
	margin-top: 20px;
}
.preview-car-img img{
	border: 2px dashed black;
	margin: 5px;
}
.preview-car-img{
	width: 100%;
	height: auto;
}

.textarea-inp textarea{ 
	height: 100px; 
	resize: none; 
	border-bottom: 1px solid #28a745; 
} 

/*
.add-contact{
	width: 600px;
	margin-top: 20px;
}
.form-responsiv{
	width: 100%;
	display: flex;
	justify-content: center;

}

.form-responsiv label{
	position: absolute;
	margin-bottom: 200px;
}

.form-responsiv input, select, button, textarea{
	height: 40px;
	width: 95%;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid #28a745;
	/* background-color: #f2f2f2; 
	padding-left: 20px;
}
.form-responsiv input, select:focus{
	outline: none;
}

.form-responsiv textarea:focus{
		outline: none; 
} 
#add-car-submit{ 
	margin: 20px auto; 
	height:50px; 
	display: block; 
	background: #28a745; 
	border-radius: 5px; 
	border: none;
	outline: none; 
	color: white; 
	font-size: 18px; 
	padding: 8px; 
	transition: 0.3s;
} 
.upload-cars-imgs{
	border-bottom: 1px solid #28a745; 
	margin-bottom: 20px;
	font-size: 11px;
}

#add-car-submit:hover{ 
	background: #00891D; 
}
*/
.showImage img{
	height: 50px;
	clear: both;
	width: 50px;
	float: left;
}
#showText{
	font-size: 10px;
	line-height: 40px;
}

/* post car add content area css  end*/



/* account post all users */
.search-body-post{
	width: 100%;
}

.account-card-body{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.account-post-card{
	width: 600px;
	box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
	margin: 10px;
	background-color: #fff;
}
.account-post-card a{
	color: #000;
}
.account-post-card img{
	display: inline-block;
	float: left;

}
.card-title-info{
	margin-top: 50px;
}
.card-title-info h3{
	padding: 10px;
}
.card-edit-delet{
	display: flex;
	justify-content: space-between;
		margin: 10px;
}
.card-edit-delet a{
	text-decoration: none;
	color: #00891D;
}
.card-date-time{
	clear: both;
	display: flex;
	justify-content: space-between;
	margin: 10px;
}
.card-edit-delet #c-delete-btn{
	padding: 5px;
	background-color: #d10000;
	color: #fff;
}
.card-edit-delet #c-edit-btn{
	padding: 5px;
	background-color: #2b59ff;
	color: #fff;
}
.card-edit-delet #c-edit-btn:hover{
	background-color: #0038f2;
}
.card-edit-delet #c-delete-btn:hover{
	background-color: #c40000;
}

@media only screen and (max-width: 800px) {
	.account-post-card{
		width: 100%;
	}
}
/* account post all users end-------------------------------------------------------------- */



/* View page by id full info -----------------------------------------------------------------*/
.post-page-main-body{
	width: 100%;
}
.post_page_main{
	margin: 0 auto;
	width: 90%;
	margin-top: 100px;
}
.post_page_row{
	width: 100%;
	display: flex;
}

.center-col-70{
	width: 70%;
}

.right-col-30{
	width: 30%;
}

.col-70-img{
	border: 1px solid #00891d;
	margin: 5px;
	text-align: center;
	position: relative;
}
.col-70-img img{
	width: 420px;
	height: 420px;
}

.right-col-30-1 #user-profile-pic{
	border-radius: 50%;
	border: 1px solid black;
	padding: 3px;
	height: 100px;
	width: 100px;
}

.right-col-30-1{
	margin: 5px;
	padding: 10px;
	border: 1px solid #00891d;
	text-align: center;
}
.right-col-30-1 a{
	color: #000;
}
.right-col-30-1 h4{
	margin-bottom: 5px;
	margin-top: 5px;
}
.right-col-30-1 a:hover{
	text-decoration: underline;
}
.right-col-30-2{
	margin: 5px;
	border: 1px solid #00891d;
	padding: 10px;
}

.right-col-30-1 #profile-icon{
	color: #b2b2b2;
	font-size: 40px;
	margin-top: 8px;
}

.car-items-tab{
	display: flex;
	justify-content: space-between;
}
.tab-items p{
	display: flex;
	padding: 5px;
	
}
#user-contact-btn{
	background-color:#28a745;
	height: 40px;
	width: 100%;
	color: white;
	border: none;
	margin-bottom: 5px;
	margin-top: 5px;
	border-radius: 5px;
}
#user-contact-btn:hover{
	background-color: #00891d;
}

#user-contact-no a {
	text-decoration: none;
	color: #000;
}
#user-contact-no i{
	color: #28a745;
}
.col-70-tabel{
	border: 1px solid #00891d;
	margin: 5px;
}
.col-title-tab{
	margin: 12px;
}
.rent-tab{
	margin: 12px;
}
.col-70-tabel-dec{
	padding: 12px;
	margin-top: 8px;
	width: 100%;
}

	/* .col-70-tabel table, td, th {
	  border: 1px solid black;
	} */

.col-70-tabel table {
  border-collapse: collapse;
  width: 100%;
}
.col-70-tabel td {
	padding: 12px;
}

.contact-user-by-post{
	display: none;
	margin-top: 20px;
	border-top: 1px solid gray;
	padding-top: 5px;
	transition: all 0.8s;
}

.contact-user-by-post input{
	height: 35px;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	border: 1px solid #28a745;
	color: black;
	font-size: 13px;
	padding: 8px;
}
.contact-user-by-post textarea{
	height: 80px;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	border: 1px solid #28a745;
	color: black;
	font-size: 13px;
	padding: 8px;
}

#book-car-btn{
	padding: 20px;
	position: absolute;
  	background-color: rgb(0,0,0); 
  	background-color: rgba(0,0,0,0.4);
	top: 0px;
	color: #fff;
}

#book-car-btn:hover{
  	background-color: rgb(0,0,0); 
  	background-color: rgba(0,0,0,0.8);
}

@media only screen and (max-width: 800px) {
	.post_page_main{
		width: 100%;
	}
	.post_page_row{
		width: 100%;
		flex-direction: column;
	}
	.center-col-70, .right-col-30{
		width: 100%;
	}
	.col-70-img img{
		width: 300px;
		height: 300px;
	}
}
/* View page by id full info end*/



/* footer css  ------------------------------------------*/

.footer-container{
	height: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #696969;
	margin-top: 10px;
}

.footer-container a {
	text-decoration: none;
	color: #00891d;
	margin: 10px;
}
.footer-container a:hover {
	text-decoration: underline;}

.footer-c-text{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
/* Footer css End ----------------------------------------*/



/* user profile page start------------------------------------------- */

.user_porfile_main_container{
	height: 350px;
	width: 100%;
	margin-top: 85px;
	/* background-color: #e2e2e2; */
	text-align: -webkit-center;

}
.profile-info-con{
	height: 200px;
	width: 100%;
	background-color: #00891d;
	display: flex;
	justify-content: center;
	border-bottom: 4px solid #fff;
	box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
}
.p-name-pic{
	position: absolute;
	text-align: -webkit-center;
	margin-top: 80px;
}
#p-image-icon{
	position: relative;
	border: 4px solid #fff;
	border-radius: 50%;
	height: 170px;
	width: 170px;
	background-color: #000;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.p-name-info h1{
	padding: 7px;
}
.p-name-info i{
	color: #00891d;
	padding: 5px;
}
.profile-posts-con{
	width: 100%;
	text-align: -webkit-center;
}	

.user-profile-post{
	height: auto;
	width: 100%;
	border-top: 1px solid #00891d;
	display: flex;
	justify-content: center;
}
.p-post-card{
	margin: 20px;
	height: 260px;
	width: 200px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color: #fff;
	border-bottom: 4px solid #00891d;
}
.p-post-card a{
	text-decoration: none;
	color: #000;
}
.p-post-card .date-time{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.p-post-card .date-time p{
	font-size: 10px;
	margin: 5px;
}

@media only screen and (max-width: 800px) {
	.profile-info-con{
		width: 100%;
	}
	.user-profile-post{
		width: 100%;
		flex-direction: column;
	}
	.p-post-card{
		width: 100%;
		margin: 0;
	}
}
/* user profile page end------------------------------------------- */




/* For popup box css ------------------------------------------------*/

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {

  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;
  text-align: center;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* For popup box css end ------------------------------------------------*/


/* for inputs and label ----------------------------------------------------*/

.res-form-card{
	width: 700px;
	margin-top: 10px;
	background-color: #fff;
	height: 100%;
	padding: 30px;
	box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
}

.responsiv-input{
	height: 50px;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	border: 1px solid #28a745;
	color: black;
	font-size: 13px;
	padding: 8px;
}

.submit-btn{
	margin: 20px auto;
	width: 100%;
	height: 50px;
	display: block;
	background: #28a745;
	border-radius: 5px;
	border: none;
	outline: none;
	color: white;
	font-size: 18px;
	padding: 8px;
	transition: 0.3s;
	
}

.submit-btn:hover{
	background: #00891D;
}

.rps-label-div{
	width: 90%;
	text-align: start;
	margin: 10px;
	clear: both;
}

.rps-label-div-2{
	width: 100%;
	text-align: start;
	padding: 10px;
}
.form-res{
	width: 100%;
	margin: 0;
}

.rps-label{
	width: 120px;
	font-size: 15px;
	color: #28a745;
	margin-bottom: 10px;
}

.rps-img-div img{
	border-radius: 50%;
	border: 1px solid #b7b7b7;
}


@media only screen and (max-width: 800px) {
	.res-form-card{
		width: 100%;
		box-shadow: none;
	}
}
/* for inputs and label ----------------------------------------------------*/

/* Link Color and under line */
.a-link-tag{
	color: #00891d !important;
}
.a-link-tag:hover {
	text-decoration: underline;}

/* Link Color and under line end*/	