<!DOCTYPE html>
<html>
<head>
	{% load static %} 
	<meta charset="utf-8"/>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
	<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
	<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
	
	<link rel="stylesheet" type="text/css" href="{% static 'owl/css/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'owl/css/owl.theme.green.css' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

	<link rel="stylesheet" href="{% static 'js/jquery-ui.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/jquery-ui.js' %}"></script>/
</head>
<title>{% block title %} {% endblock %} - BukiNow</title>
<body>
	{% include 'include/_navbar2.html' %}
	{% block body %}
	{% endblock %}
	{% include 'include/_footer.html' %}
	{% if not session %}
	{% include 'include/get_location.html' %}
	{% endif %}
</body>
<script src="{% static 'js/main.js' %}"></script>
{% include 'include/ajax.html' %}
</html>