{% extends 'base.html' %}
{% block body %}

<title>Find Best Price Of Rant A Cars In All Over Pakistan - Bukinow</title>

{% include 'include/_navbar2.html' %}

{% load static %}
<div class="home-container">
	<div class="slide-area">
		<div class="text-slide-main">
			<h1>BOOK YOUR DREAM CAR WITH BUKINOW</h1>
			<a href="{% url 'register' %}"><button id="slide-how-it-work-btn">SINGUP</button></a> 
		</div>
	</div>
</div>

<div class="main-body">
	<h2 style="padding: 12px;">Cars in your city</h2>
	<hr>
	<div class="home-page-card-body">
		{% for Home_Post in Home_page_post %}
		<div class="home-post-card">
			<div class="home-card-1">
				<p><i class="fa fa-clock-o" aria-hidden="true"></i> {{Home_Post.c_date_time.date}}</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> {{Home_Post.c_user_city}}</p>
			</div>
				<hr>
				<a href="post/view/{{ Home_Post.c_id }}"><p>{{ Home_Post.c_title | title }}</p>
				<img src="{{Home_Post.c_select_image.url}}" height="100" width="100">
				<h4>Rent Per Day {{ Home_Post.c_par_day_price }}</h4></a>
		</div>				
		{% endfor %}
	</div>
</div>

<div class="add-car-home-page">
	<div class="add-car-text">
		<div class="btn-and-text">
			<h1>Make money add your vehicle</h1>
			<a href="{% url 'add_car' %}"><button>ADD CAR</button></a>
		</div>
		<img src="{% static 'img/houndai.png' %}">
	</div>
</div>
{% include 'include/_footer.html' %}
{% endblock %}