{% extends 'base.html' %}
{% block body %}

<title>{{query_shr|title}} - {{loc_query}} - Bukinow</title>

{% include 'include/_navbar2.html' %}
{% load static %}

<div class="search-page-body">
	{% include 'include/_search_bar.html' %}
</div>

<div class="search-body-post">
<div class="account-card-body">
    <h1>Search Result</h1>
  {% if search_home_page|length < 1 %}
    <p>No Search Result Found</p>
  {% endif %}

  {% for post in search_home_page %}
    <div class="account-post-card">

      <div class="card-edit-delet">
        <h3>Per Day Rent : <span>{{post.c_par_day_price}}</span></h3>
        <p><i class="fa fa-user" aria-hidden="true"></i>  {{post.c_post_by_user_name|title}}</p>
      </div>
      <hr>
      <a href="http://127.0.0.1:8000/post/view/{{post.c_id}}">
      <img src="{{post.c_select_image.url}}" height="200" width="200"></a>
      
      <div class="card-title-info">
        <a href="http://127.0.0.1:8000/post/view/{{post.c_id}}">
        <h2>{{post.c_title | title}}<h2></a>
      </div>
        <p>{{post.c_car_about|slice:":100"}}</p>
        <div class="card-date-time">
          <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.c_date_time.date}}</p>
         <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{post.c_user_city}}</p></div>
    </div>

  {% endfor %}
</div>

</div>

{% include 'include/_footer.html' %}
{% endblock %}



