{% extends 'base.html' %}

{% block body %}

<title>{{ home_post_by_id.c_title }} - Bukinow </title>

{% include 'include/_navbar2.html' %}
<div class="post_page_main">
	<div class="post_page_row">
		<div class="center-col-70">

			<div class="col-70-img">
				<img src="{{ home_post_by_id.c_select_image }}" height="400" width="400" title="{{ car_post.c_title | title }}">
			</div>
			<div class="col-70-tabel">
					<table>
						<tr>
			    		<td><p>YEAR</p></td>
			     		<td><p>{{ home_post_by_id.c_car_model | upper }}</p></td>
			     		<td><p>DRIVER</p></td>
					    <td><p>{{ home_post_by_id.c_self_driver | upper }}</p></td>
			  			</tr>
					  <tr>
					  	<td><p>CAR</p></td>
					  	<td><p>{{ home_post_by_id.c_car_name | upper }}</p></td>
					  	<td><p>LOCATION</p></td>
					  	<td><p>{{ home_post_by_id.c_user_city | upper }}</p></td>
					  </tr>
					  <tr>

					  </tr>
					  <tr>
					  	<td><p>COLOR</p></td>
			  			<td><p>{{ home_post_by_id.c_car_color | upper }}</p></td>
					  </tr>
					</table>
					<hr>
					<div class="col-70-tabel-dec">
						<h2>Description</h2>
						<p>{{ home_post_by_id.c_car_about }}</p>
					</div>
			</div>
		</div>
		<div class="right-col-30">
			<div class="right-col-30-2">
				<h2>Par Day Rent : {{ home_post_by_id.c_par_day_price }}</h2>
				<p> {{ home_post_by_id.c_title }}</p>
			</div>

			<div class="right-col-30-1">
				<h3>Profile</h3>
				<i title="User" id="profile-icon" class="fa fa-user-circle-o" aria-hidden="true"></i>
				<h2><a href="http://127.0.0.1:8000/profile/{{ home_post_by_id.user.id }}"> {{ home_post_by_id.user.username | title }}</a></h2>
				<button id="user-contact-btn">Contact User</button>
				<p id="user-contact-no"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:03111074690"> 03111074690</a></p>
			</div>

			<div class="right-col-30-1">
				<i id="profile-icon" class="fa fa-map-marker" aria-hidden="true" title="Address"></i>
				<p>{{ home_post_by_id.c_address }}</p>
			</div>
			
			<div class="right-col-30-1">
				<div id="map" style="height: 200px; width: 100%;"></div>
					<script>
						mapboxgl.accessToken = 'pk.eyJ1IjoidWJhaWRhaG1lZG1lbyIsImEiOiJjazlqdmhrcjYwMmRkM2Z1aDNrZHU5aTB6In0.MJqbJqeOoolh7JHSPm42Sw';
					var map = new mapboxgl.Map({
					container: 'map', // container id
					style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
					center: [24.8607, 67.0011], // starting position [lng, lat]
					zoom: 9 // starting zoom
					});
					</script>	
			</div>

		</div>
	</div>
</div>
{% include 'include/_footer.html' %}
{% endblock %}
