{% extends 'base.html' %}

{% block body %}

<title>{{ home_post_by_id.c_title }} - Bukinow </title>
{% load static %}
{% include 'include/_navbar2.html' %}
<div class="post-page-main-body">
	<div class="post_page_main">
		<div class="post_page_row">
			<div class="center-col-70">

				<div class="col-70-img">
					<img src="{{ home_post_by_id.c_select_image }}" title="{{ car_post.c_title | title }}">
					<a href="#" onclick="BookBtn();"><h2 id="book-car-btn">Book Now</h2></a>
				</div>
				<div class="col-70-tabel">
					<div class="col-title-tab">
						<p><i class="fa fa-clock-o" aria-hidden="true"></i> {{ home_post_by_id.c_date_time.date }}</p>
						<h1> {{ home_post_by_id.c_title | title }}</h1>
					</div>
				</div>
				<div class="col-70-tabel">
					<div class="rent-tab">
						<h3>Par Day Rent : {{ home_post_by_id.c_par_day_price }}</h3>
						<hr style="margin-top: 8px;">
						<div class="car-items-tab">
							<div class="tab-items">
								<p>YEAR</p>
								<p>DRIVER</p>
								<p>CAR</p>
							</div>
							<div class="tab-items">
				     			<b><p>{{ home_post_by_id.c_car_model | upper }}</p></b>
				     			<b><p>{{ home_post_by_id.c_self_driver | upper }}</p></b>
				     			<b><p>{{ home_post_by_id.c_car_name | upper }}</p></b>
				     		</div>
							<div class="tab-items">
								<p>LOCATION</p>
								<p>COLOR</p>
							</div>
							<div class="tab-items">
								<b><p>{{ home_post_by_id.c_user_city | upper }}</p></b>
				     			<b><p>{{ home_post_by_id.c_car_color | upper }}</p></b>
							</div>
						</div>
						<hr>
						<div class="col-70-tabel-dec">
							<h2>Description</h2>
							<p>{{ home_post_by_id.c_car_about }}</p>
						</div>
						</div>
				</div>
			</div>
			<div class="right-col-30">
				<div class="right-col-30-1">
					<img id="user-profile-pic" src="{% if home_post_by_id.c_post_by_user_pic %}{{ home_post_by_id.c_post_by_user_pic.url}}{% else %}{% static 'img/profile-img.png' %}{% endif %}">
					<h2><a href="http://127.0.0.1:8000/profile/{{ home_post_by_id.c_post_by_user_id}}"> {{ home_post_by_id.c_post_by_user_name | title }}</a></h2>
					<p id="user-contact-no"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:{{ home_post_by_id.c_post_by_user_phone }}"> {{ home_post_by_id.c_post_by_user_phone }}</a></p>
				</div>

				<div class="right-col-30-1">
					<i id="profile-icon" class="fa fa-map-marker" aria-hidden="true" title="Address"></i>
					<h4>Address</h4>
					<p>{{ home_post_by_id.c_address }}</p>
					<h4>City</h4>
					<p>{{ home_post_by_id.c_user_city }}</p>
				</div>
				
				<div class="right-col-30-1">
						<style>
				      #map {
				        height: 400px; 
				        width: 100%;  
				       }
				    </style>
				    <div id="map"></div>
				    <script>
				function initMap() {
				  var uluru = {lat: {{ home_post_by_id.c_let_1  }}, lng: {{ home_post_by_id.c_log_2 }}};
				  var map = new google.maps.Map(
				      document.getElementById('map'), {zoom: 15, center: uluru});
				  var marker = new google.maps.Marker({position: uluru, map: map});}
				    </script>
				    <script async defer
				    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHwZhnDvKF_Mg4YftV7iaCFJXBM8kuQNg&callback=initMap">
				    </script>
				</div>

			</div>
		</div>
	</div>
</div>

<div id="bookingModel" class="modal">
  <div class="modal-content">
	    <span onclick="bookCloseBtn();" class="close">&times;</span>
		<div class="form-res">
			<div class="rps-label-div-2">
				<label class="rps-label" for="c-title">Full Name </label>
				<input class="responsiv-input" type="text" id="full-name" placeholder=" Enter Full Name" required>

				<input type="hidden" value="{{ home_post_by_id.c_title | title }}" id="post-title">
				<input type="hidden" value="{{ home_post_by_id.c_id}}" name="post-id" id="post-id">
				<input type="hidden" value="{{ home_post_by_id.c_post_by_user_id}}" name="post-user-id" id="post-user-id">
				<input type="hidden" id="c-let" name="let" class="let">
				<input type="hidden" id="c-log" name="long" class="long">
			</div>

			<div class="rps-label-div-2">
				<label class="rps-label" for="c-title">Phone No</label>
				<input maxlength="11" class="responsiv-input" type="text" placeholder="Enter Phone No" required id="phone-no">
			</div>

			<div class="rps-label-div-2">
				<label class="rps-label" for="c-title">Address</label>
				<input class="responsiv-input" type="text" placeholder="Your Address" required id="address">
			</div>

			<div class="rps-label-div-2">
				<label class="rps-label" for="c-title">Start Date</label>
				<input class="responsiv-input" type="date" required id="start-date">
			</div>

			<div class="rps-label-div-2">
				<label class="rps-label" for="c-title">End Date</label>
				<input class="responsiv-input" type="date" required id="end-date">
			</div>

			<div class="rps-label-div-2 textarea-inp">
				<label class="rps-label" for="c-dec">Message</label>
				<textarea class="responsiv-input" id="messages" placeholder="Type Your Message" required="Fill this fild"></textarea>
			</div>

			<div class="rps-label-div-2">
				<button class="submit-btn" id="add-car-submit">Submit</button>
			</div>	
		</div>
	  </div>
</div>

{% include 'include/_footer.html' %}
{% endblock %}
